body {
  background-color: #EAF6F6;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 3%;
  border-color: grey;
}

img {
  height: 175px
}

h1 {
  color: #66BFBF;
}

h2 {
  color: #66BFBF;
}
